body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1 {
    margin: 20px 0;
}

h2, h3 {
    margin: 10px 0;
}

.clock, .todo-list, .notification, .recorder, .music-player, .video-player, .multi-timer, .calendar {
    background-color: #444;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.time {
    color: #39ff10; /* رنگ سبز فسفری */
    font-size: 1.5em;
}

.neon {
    text-shadow: 0 0 2px #39ff24, 0 0 10px #39ff24, 0 0 15px #39ff24; /* افکت نورانی */
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #39ff14;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1em;
}

button {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #32cd32;
    transform: scale(1.05);
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

#todoItems {
    list-style-type: none;
    padding: 0;
}

#todoItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
}

.sticker {
    width: 50px; /* اندازه استیکر */
    height: auto; /* حفظ نسبت ابعاد */
    margin: 10px; /* فاصله بین استیکرها */
}

.contact-section {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #39ff24; /* رنگ پس‌زمینه، می‌توانید این را تغییر دهید */
    border-top: 2px solid #007bff; /* خط بالای بخش تماس با ما */
}

.contact-section h2 {
    margin-bottom: 10px;
    color: #007bff; /* رنگ عنوان */
}

.contact-section .socials a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff; /* رنگ لینک‌ها */
    font-weight: bold; /* ضخیم کردن لینک‌ها */
}

.contact-section .socials a:hover {
    text-decoration: underline; /* زیرخط لینک‌ها هنگام هاور */
    color: #0056b3; /* رنگ لینک‌ها هنگام هاور */
}
